body {
    background-image: url('https://img.freepik.com/foto-gratis/grandes-pilas-de-grava-y-arena-para-la-construccion_28989-551.jpg?size=664&ext=jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff; /* Color de texto blanco para que sea legible en el fondo */
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.container {
    margin-top: 50px;
}

.table {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer que la tabla sea legible */
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}