<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin/addcategory.css">
    <script src="../../static/js/admin/addcategory.js" defer></script>
</head>
<body>

    <div class="container-add-category">
        <div class="left">

            <form class="form-register" action="{{ url_for('AddPromo') }}" method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="titulo">
                <h2>Agregar nueva categoría</h2>
                <hr>
            </div>
            <div class="form-group">
                <input class="cate_input" type="text" id="titulo" name="Titulo" placeholder="Título" required>
            </div>
            <div class="form-group">
                <input class="cate_input" type="text" id="descripcion" name="Descripcion" placeholder="Descripción" required>
            </div>
            <div class="form-group">
                <input class="cate_input" type="text" id="fecha" name="Fecha" placeholder="Fecha" required>
            </div>
            <div class="form-group">
                <input class="fancy_file" type="file" id="File" name="archivo" required>
                <label for="File">
                    <span class="fancy_file_fancyfilebutton">Buscar archivo</span>
                </label>
            </div>
            <button type="submit" id="enviar" class="form__submit">Agregar</button>
        </form>

        </div> 
        <div class="right">
            <div class="file-dnd">
                <div class="before-upload" id="preview">
                </div>
                <div class="after-upload">
                    <div class="clear-btn">&times;</div>
                    <img src=""/>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
