<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Empleados</title>
    <link rel="stylesheet" href="../static/css/empleados.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5 formBox">
        <h1 class="mb-4">Gestión de empleados</h1>
        <form class="formEmpleado" action="/crear_empleado" method="POST" class="mb-4">
            <div class="col w-100">
                <div class=" inputBox">
                    <input type="number" name="Id_empleado" placeholder="Identificación" class="form-control mb-2"
                        required>
                </div>
                <div class=" inputBox">
                    <input type="text" name="Nombre_empleado" placeholder="Nombre del empleado"
                        class="form-control mb-2" required>
                </div>
                <div class=" inputBox">
                    <input type="text" name="Apellido_empleado" placeholder="Apellido del empleado"
                        class="form-control mb-2" required>
                </div>

                <div class="inputBox">
                    <input type="text" name="CargoEmpleado" placeholder="Puesto de trabajo" class="form-control mb-2"
                        required>
                </div>
                <div class="inputBox">
                    <input type="text" name="Departamento" placeholder="Departamento de trabajo"
                        class="form-control mb-2" required>
                </div>
                <div class="inputBox">
                    <input type="text" name="Salario" placeholder="Salario del empleado" class="form-control mb-2"
                        required>
                </div>
                    <button type="submit" class="btn btn-primary submitBtn">Guardar empleado</button>
            </div>
            
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre del empleado</th>
                    <th>Apellido del empleado</th>
                    <th>Cargo del empleado</th>
                    <th>Departamento del empleado</th>
                    <th>Salario del empleado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado[0] }}</td>
                    <td>{{ empleado[1] }}</td>
                    <td>{{ empleado[2] }}</td>
                    <td>{{ empleado[3] }}</td>
                    <td>{{ empleado[4] }}</td>
                    <td>{{ empleado[5] }}</td>
                    <td>
                        <form action="{{ url_for('eliminar_empleado', Id_empleado=empleado[0]) }}" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <button type="button" class="btn btn-primary"
                            onclick='showEditEmployeeModal({{ empleado | tojson | safe }})'>Actualizar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para editar empleado -->
    <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeModalLabel">Editar empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm" action="" method="POST">
                        <input type="hidden" id="modalIdEmpleado" name="Id_empleado">
                        <div class="mb-3">
                            <label for="modalNombre" class="form-label">Nombre del empleado</label>
                            <input type="text" id="modalNombre" name="Nombre_empleado" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="modalApellido" class="form-label">Apellido del empleado</label>
                            <input type="text" id="modalApellido" name="Apellido_empleado" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="modalCargoEmpleado" class="form-label">Puesto del empleado</label>
                            <input type="text" id="modalCargoEmpleado" name="CargoEmpleado" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="modalDepartamento" class="form-label">Departamento del empleado</label>
                            <input type="text" id="modalDepartamento" name="Departamento" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="modalSalario" class="form-label">Salario del empleado</label>
                            <input type="text" id="modalSalario" name="Salario" class="form-control" required>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" form="updateForm">Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function showEditEmployeeModal(empleado) {
            // Configurar la acción del formulario con la URL correcta
            var updateForm = document.querySelector('#updateForm');
            updateForm.action = '/actualizar_empleado/' + empleado[0];

            // Configurar los valores de los campos
            document.querySelector('#modalNombre').value = empleado[1];
            document.querySelector('#modalApellido').value = empleado[2];
            document.querySelector('#modalCargoEmpleado').value = empleado[3];
            document.querySelector('#modalDepartamento').value = empleado[4];
            document.querySelector('#modalSalario').value = empleado[5];

            // Guardar el ID del empleado en un campo oculto
            var idInput = updateForm.querySelector('#modalIdEmpleado');
            idInput.value = empleado[0];

            // Mostrar el modal
            var editModal = new bootstrap.Modal(document.getElementById('editEmployeeModal'));
            editModal.show();
        }
    </script>

</body>

</html>
