<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
</head>
<body>
    <nav>
        <ul>
            <li>
                <a>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="/admin/categorias">
                    <i class="fa fa-book"></i>
                    <span class="nav-item">Categorias</span>
                </a>
            </li>
            <li>
                <a href="/admin/subcategorias">
                    <i class="fa fa-file"></i>
                    <span class="nav-item">SubCategorias</span>
                </a>
            </li>
            
            <li>
                <a href="/empleados">
                    <i class="fa fa-users"></i>
                    <span class="nav-item">Empleados</span>
                </a>
            </li>
            <li>
                <a href="/productos">
                    <i class="fa fa-users"></i>
                    <span class="nav-item">Productos</span>
                </a>
            </li>
            <li class="nav-item d-flex justify-content-center">
                <a class="nav-link px-3" href="/login">Cerrar Sesión</a>
            </li>
        </ul>
    </nav>
</body>
</html>
