<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="..\static\assets\tools.png" type="image/x-icon"
        title="Contruction icons created by Prosymbols Premium - Flaticon from www.flaticon.com" />
    <title>Depósito La Aurora</title>
    <link rel="stylesheet" href="../static/css/generalStyles.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <header></header>
    <main>
        <section class="main">
            <h1 class="main_title"><span style="color: #F29727;">Depósito</span> La Aurora</h1>
            <p class="main_description">Tu destino confiable para todo en construcción y reparación!</p>
            <div class="main_buttons">
                <div class="main_btn"><a href="/signup">Registrarse</a></div>
                <div class="main_btn"><a href="/login">Iniciar sesión</a></div>
            </div>
        </section>
    </main>
    <footer class="main_footer">
        <p>&copy; 2023 <span style="color: #F29727;">Depósito</span> La Aurora</p>
    </footer>
    <script src="../static/js/app.js"></script>
</body>

</html>