<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coure App</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/notFound.css">
</head>
<body>
    <section class="notfound">
        <h1 class="notfound_title">OOPS!</h1>
        <h2 class="notfound_subtitle"><span style="color: #F29727;">Error 404</span> : Página No Encontrada</h2>
        <div class="notfound_btn">
            <a href="/login">Página principal</a>
        </div>
        <p class="notfound_footer">&copy; 2024 <span style="color: #F29727;">Depósito</span> La Aurora</p>
    </section>
</body>
</html>