<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="..\static\assets\tools.png" type="image/x-icon"
        title="Contruction icons created by Prosymbols Premium - Flaticon from www.flaticon.com" />
    <title>Registro - Depósito La Aurora</title>
    <link rel="stylesheet" href="../static/css/generalStyles.css">
    <link rel="stylesheet" href="../static/css/signup_login.css">
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body class="signup_body">
    <section class="access">
        <div class="row">
            <div class="column">
                <form method="POST">
                    <input class="accessInput" type="text" name="name" placeholder="Nombre" required>
                    <input class="accessInput" type="text" name="lastname" placeholder="Apellidos" required>
                    <input class="accessInput" type="text" name="address" placeholder="Dirección" required>
                    <select class="accessInput" name="provincia" id="provincia" required>
                        <option value="">Seleccione una provincia</option>
                        <option value="San José">San José</option>
                        <option value="Cartago">Cartago</option>
                        <option value="Alajuela">Alajuela</option>
                        <option value="Heredia">Heredia</option>
                        <option value="Limón">Limón</option>
                        <option value="Puntarenas">Puntarenas</option>
                        <option value="Guanacaste">Guanacaste</option>
                    </select>
                </form>
            </div>
            <div class="column">
                <form method="POST">
                    <input class="accessInput" type="email" name="email" placeholder="Correo electrónico" required>
                    <input class="accessInput" type="password" name="password" placeholder="Contraseña" required>
                    <input class="accessInput" type="tel" name="telefono" placeholder="Número de teléfono" required>
                    <input class="accessInput" type="text" id="birthdate" placeholder="Fecha de nacimiento" required onclick="showDatePicker()">
                </form>
            </div>
        </div>
        <div class="btn-container">
            <form method="POST">
                <input class="accessInput submit_btn" type="submit" value="Registrarse">
            </form>
        </div>
        <p class="access_text">¿Tienes cuenta? <a href="/login">Iniciar sesión</a></p>
    </section>
    <script>
        function showDatePicker() {
            var birthdateInput = document.getElementById('birthdate');
            birthdateInput.type = 'date';
            birthdateInput.placeholder = '';
        }
    </script>
</body>


</html>