<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="../static/assets/tools.png" type="image/x-icon"
        title="Construction icons created by Prosymbols Premium - Flaticon from www.flaticon.com" />
    <title>Registro - Depósito La Aurora</title>
    <link rel="stylesheet" href="../static/css/generalStyles.css">
    <link rel="stylesheet" href="../static/css/signup_login.css">
    <link rel="stylesheet" href="../static/css/register.css">
</head>

<body class="signup_body">
    <section class="access">
        <form method="POST" action="/crear_usuario">
            <input class="accessInput" type="email" name="ID_Usuario" placeholder="Correo electrónico" required>
            <input class="accessInput" type="password" name="Contrasena" placeholder="Contraseña" required>
            <input class="accessInput" type="text" name="NombreUsuario" placeholder="Nombre completo" required>
            <input class="accessInput" type="text" name="Direccion" placeholder="Dirección" required>
            <input class="accessInput" type="tel" name="Telefono" placeholder="Número de teléfono" required>
            <input class="accessInput submit_btn" type="submit" value="Registrarse">
        </form>
        <p class="access_text">¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
    </section>
</body>

</html>

</html>